/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Panel Sidebar Select Box */
#panel-sidebar-select-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--toolbar-color);
  background-color: var(--toolbar-bgcolor);
  background-image: var(--lwt-additional-images);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  scrollbar-width: thin;
  border-left: 1px solid var(--chrome-content-separator-color);
  border-right: 1px solid var(--chrome-content-separator-color);
  width: 42px;
  max-width: 42px;
  min-width: 42px;
}

#panel-sidebar-select-box:-moz-lwtheme {
  background-color: var(--lwt-accent-color-inactive, var(--toolbar-bgcolor));
}

/* Panel Sidebar Box */
.panel-sidebar-box {
  background: var(--toolbar-bgcolor);
  border: var(--toolbar-bgcolor) 0.1px solid;
  border-bottom: solid 5px var(--toolbar-bgcolor);
}

/* Panel Sidebar Splitter */
#panel-sidebar-box[positionend] + .panel-sidebar-splitter {
  border-color: transparent;
}

#panel-sidebar-splitter {
  margin-inline: 0px !important;
  border-color: transparent;
}

/* Webpanel Icon */
.webpanel-icon::before {
  content: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg");
  position: fixed;
  top: 3px;
  left: 3px;
  opacity: 0.5;
  fill: inherit;
  background: none !important;
  display: none;
}

.webpanel-icon[muted]::before {
  display: inherit !important;
}

/* Sidepanel Icon and Browser Icon */
.panel-sidebar-panel,
.panel-sidebar-panel {
  appearance: none;
  -moz-context-properties: fill, fill-opacity;
  border-radius: 4px;
  color: inherit;
  fill: currentColor;
  scale: 1;
  min-width: 36px;
  min-height: 36px;
  margin: 0px 1px;
  margin-top: 5px;
}

.panel-sidebar-panel.dragging {
  opacity: 0.5;
}

.panel-sidebar-panel.drag-over {
  border: 2px solid highlight;
}

.panel-sidebar-panel > .toolbarbutton-icon {
  width: 16px !important;
}

.panel-sidebar-panel > .toolbarbutton-text {
  display: none !important;
}

/* UI Density: Compact Mode */
:root[uidensity="compact"] .panel-sidebar-panel {
  margin: 3.5px 3.5px 4.5px 3.5px;
  padding: 5px;
}

:root[uidensity="compact"] #panel-sidebar-select-box {
  width: 35px;
  max-width: 35px;
  min-width: 35px;
}

/* UI Density: Touch Mode */
:root[uidensity="touch"] .panel-sidebar-panel {
  margin: 1px 3px 2px 3px;
  padding: 16px;
}

:root[uidensity="touch"] #panel-sidebar-select-box {
  width: 60px;
  max-width: 60px;
  min-width: 60px;
}

:root[uidensity="touch"] .panel-sidebar-panel > .toolbarbutton-icon {
  width: 20px !important;
}

/* Header */
#panel-sidebar-header {
  height: 38px !important;
  background-color: var(--toolbar-bgcolor);
  background-image: var(--lwt-additional-images);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 6px;
}

/* Panel Sidebar Icon */
.panel-sidebar-icon,
.panel-sidebar-actions {
  appearance: none;
  -moz-context-properties: fill, fill-opacity;
  border-radius: 4px;
  color: inherit;
  fill: currentColor;
  padding: 2px;
  height: auto;
}

.panel-sidebar-actions {
  padding: 8px;
  width: 32px;
  height: 32px;
}

/* Hover and Active States */
@media not (prefers-contrast) {
  .panel-sidebar-panel:hover,
  .panel-sidebar-actions:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background-color: var(--tab-selected-bgcolor, var(--toolbar-bgcolor));
  }
  .panel-sidebar-panel[data-checked="true"] {
    background-color: color-mix(in srgb, currentColor 20%, transparent);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }
  .panel-sidebar-panel:not([data-checked="true"]):active,
  .panel-sidebar-panel:active,
  .panel-sidebar-actions:active {
    background-color: color-mix(in srgb, currentColor 20%, transparent);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  }
}

@media (prefers-contrast) {
  .panel-sidebar-panel:hover {
    outline: 1px solid currentColor;
  }
}

:is(
    :root[inDOMFullscreen],
    :root[inFullscreen]:not([macOSNativeFullscreen]),
    *|*:root[chromehidden~="toolbar"],
    :root[invisibleBMS]
  )
  #sidebar-select-box {
  display: none;
}

:root[invisibleBMS] {
  max-width: 0px !important;
  min-width: 0px !important;
  border: unset !important;
}

/* Temporary */
#panel-sidebar-select-box {
  order: 1 !important;
}

#panel-sidebar-box {
  order: 2 !important;
}

#panel-sidebar-splitter {
  order: 3 !important;
}

/* Icons */
#panel-sidebar-add {
  list-style-image: url("chrome://global/skin/icons/plus.svg");
}

#panel-sidebar-back {
  list-style-image: url("chrome://browser/skin/back.svg");
}

#panel-sidebar-forward {
  list-style-image: url("chrome://browser/skin/forward.svg");
}

#panel-sidebar-reload {
  list-style-image: url("chrome://global/skin/icons/reload.svg");
}

#panel-sidebar-go-index {
  list-style-image: url("chrome://browser/skin/home.svg");
}

#panel-sidebar-keeppanelwidth {
  list-style-image: url("chrome://floorp/skin/designs/lepton/screenshot.svg");
}

#panel-sidebar-close {
  list-style-image: url("chrome://global/skin/icons/close.svg");
}
